<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML><HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <TITLE>怪兽BoBo</TITLE>
    <meta name=keywords content=怪兽bobo>
    <meta name=description content=怪兽岛科技有限公司>
    <link rel=stylesheet type=text/css href="/gw/skin/css/style.css">
    <META content=IE=10;IE=9;IE=8;IE=7; http-equiv=X-UA-Compatible>
</HEAD>
<BODY>

<div class="head">
    <div class="main">
        <div id="logo"><a href="/gw/"><img src="/gw/skin/images/logo.png" alt="logo" /><span>儿童服务平台</span></a></div>
    </div>
</div>


<div class="lxwm">
    <div class="lxwm_c">
        <p>&nbsp;</p>

        <p><img src="/gw/skin/images/img_gsjs_jj.png" /></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>杭州怪兽岛网络科技有限公司坐落在互联网核心城市杭州，旗下的怪兽bobo是一个儿童才艺大赛报名平台。</p>

        <p>&nbsp;</p>

        <p>这里，你不仅能看到各种少儿才艺大赛的信息，还能点击按钮就能参加，我们已与国内众多赛事主办方达成了合作关系，你可以在怪兽bobo上随时了解大赛动态。</p>

        <p>&nbsp;</p>

        <p>通过怪兽bobo报名，不仅方便快捷，还有各种优惠福利噢，欢迎宝妈们体验！</p>

        <p>&nbsp;</p>

        <p>怪兽bobo，一个充满童趣的地方，一个汇集知识的地方，一个分享爱心的地方，一个放飞梦想的地方！</p>
    </div>
    <div class="lxwm_c">
        <p>&nbsp;</p>

        <p><img src="/gw/skin/images/img_gsjs_td.png" /></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>公司聚集了一批心怀梦想、努力开拓的来自一流学校和一流公司的顶尖人才，并在技术开发、用户运营和品牌资源等方面有很深的积累。</p>

        <p>&nbsp;</p>

        <div id="tdzp">
            <ul>
                <li><p><img src="/gw/skin/images/img_gsjs_Photo_01.jpg" /></p>

                    <p><img src="/gw/skin/images/img_gsjs_Photo_04.jpg" /></p></li>
                <li><p><img src="/gw/skin/images/img_gsjs_Photo_02.jpg" /></p>

                    <p><img src="/gw/skin/images/img_gsjs_Photo_05.jpg" /></p></li>
                <li><p><img src="/gw/skin/images/img_gsjs_Photo_03.jpg" /></p>

                    <p><img src="/gw/skin/images/img_gsjs_Photo_06.jpg" /></p></li>
            </ul>
        </div>
        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>
    </div>

    <div class="lxwm_c">
        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p><img src="/gw/skin/images/img_gsjs_mj.png" /></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>“怪兽bobo”媒体专注于儿童生活，与您一起关爱孩子的成长。</p>

        <p>&nbsp;</p>

        <div id="mtzp">
            <p>&nbsp;</p>
            <ul>
                <li><p><img src="/gw/skin/images/img_gsjs_mj_jrtt.png" /></p>

                    <p><img src="/gw/skin/images/img_gsjs_mj_jrttewm.png" /></p></li>
                <li><p><img src="/gw/skin/images/img_gsjs_mj_wx.png" /></p>

                    <p><img src="/gw/skin/images/img_gsjs_mj_wxewm.png" /></p></li>
                <li><p><img src="/gw/skin/images/img_gsjs_mj_xlwb.png" /></p>

                    <p><img src="/gw/skin/images/img_gsjs_mj_xlwbewm.png" /></p></li>
                <li><p><img src="/gw/skin/images/img_gsjs_mj_zmt.png" /></p>

                    <p><img src="/gw/skin/images/img_gsjs_mj_zmtewm.png" /></p></li>
            </ul>
        </div>
        <div class="shop_list">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><img src="/gw/skin/images/img_shop.png" /></p>
            <ul>
                {volist name="res" id="vo"}
                <li>
                    <div class="shop_info">
                        <div><img class="give_icon" src="{$vo.pic|default='/share/images/default_icon.png'}" onerror="this.src='/share/images/default_icon.png';this.onerror=null"/>
                        </div>
                        <div><span>{$vo.money}</span>元<img class="goods" src="/gw/skin/images/goods.png"/></div>
                    </div>

                </li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="lxwm_c">
        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p><img src="/gw/skin/images/img_gsjs_lx.png" /></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：杭州市上城区秋涛路28号凤凰中心702-2室</p>

        <p>&nbsp;</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>业务合作</strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商务合作QQ：3397643776</p>

        <p>&nbsp;</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮编：310000</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：bobo@mland.club</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家长QQ群：515839643</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>
    </div>
</div>
<div class="footer1">
    <div class="footer_c1">
        <div class="footer_menu"> </div>
        <div class="footer_info">
            <div class="footer_logo"><img alt="" src="/gw/skin/images/img_xx_logo.png" /></div>
            <div class="footer_info_c">
                <p>地 址：杭州市上城区秋涛路28号凤凰中心702-2室</p>

                <p>E-mail: bobo@mland.club</p>

                <p>邮 编：310000</p>

                <p>版权所有-杭州怪兽岛网络科技有限公司</p>
            </div>
        </div>
    </div>
</div>

<div class="footer2">
    <div class="footer_c2">
        <div id="tel">
            <p><img src="/gw/skin/images/mig_db_phone.png" alt="tel" /> 全国服务热线：400-157-5716</p>
            <p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010402002744" ><img src="/gw/skin/images/ga.png" /> 浙公网安备 33010402002744号</a></p>
            <p><a target="_blank" href="http://www.miitbeian.gov.cn/" ><img src="/gw/skin/images/gxb.png" /> 工信部备案/许可证编号为:浙ICP备16032750号</a></p>
        </div>
        <div class="fx">
            <ul>
                <li><br />分享到</li>
                <a href="#">
                    <li><img src="/gw/skin/images/img_xx_qq.png" alt="fx1" /></li>
                </a>
                <a href="#">
                    <li><img src="/gw/skin/images/img_xx_wx.png" alt="fx2" /></li>
                </a>
                <a href="#">
                    <li><img src="/gw/skin/images/img_xx_xl.png" alt="fx3" /></li>
                </a>
            </ul>
        </div>
    </div>
</div>
</BODY>
</HTML>