<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$data.nickname|default='怪兽bobo'}的直播分享</title>
    <link rel="stylesheet" type="text/css" href="/share/css/style.css">
    <script type="text/javascript" src="/share/js/jquery.min.js"></script>
    <script type="text/javascript" src="/share/sewise.player.min.js"></script>
</head>

<body>

<header>
    <div class="logo">
        <img src="/share/images/logo.jpg">
    </div>
    <div class="button">
        <a href="http://apk.guaishoubobo.com/downloads/">
            <img src="/share/images/button.gif">
        </a>
    </div>
</header>

<div class="contain">
    <div class="banner">
        {if condition="$data.event == 'publish_done'"}
        <div class="push_done"><img src="/share/images/push_off_logo.png" ><p>{$data.nickname|default='怪兽bobo'}的直播视频已经结束,下载怪兽BoBo可以观看TA的所有视频@^^@</p></div>
        {else /}
        <div id="player" class ="movie_frame"></div>
        {/if}
    </div>

    <div class="user">
        <img class="icon" src="{$data.pic|default='/share/images/default_icon.png'}" onerror="this.src='/share/images/default_icon.png';this.onerror=null"/>
        <div class="userinfo">
            <div class="like" onclick="return Click_like('{$type}','{$id}')">
                {eq name="data.like_state" value="1"}<img class="zan" src="/share/images/xin1.png"/>{/eq}
                {eq name="data.like_state" value="0"}<img class="zan" src="/share/images/xin2.png"/>{/eq}
                <span id="like_num">{$data.like}</span>
            </div>
            <div class="userline">
                <span class="nickname">{$data.nickname}</span>
                {eq name="data.sex" value="0"}<img class="sex" src="/share/images/nv.png"/>{/eq}
                {eq name="data.sex" value="1"}<img class="sex" src="/share/images/nan.png"/>{/eq}
                <span class="age">{$data.age}岁</span>
            </div>
            <div class="userline">
                <img class="addressimg" src="/share/images/address.jpg"/><div class="address">{$data.address}</div>
            </div>
        </div>
        <div class="title"><span>{$data.labelname}</span>{$data.title}</div>
    </div>

    <div class="give">
        <div class="send_give"><span>鼓励打赏</span></div>
        <div class="give_num"> 已收到{$data.gold_sum}Bo豆鼓励打赏 </div>
        <div class="give_user_list">
            <ul>
                {volist name="data.give_list" id="vo"}
                <li><img class="give_icon" src="{$vo.pic|default='/share/images/default_icon.png'}" onerror="this.src='/share/images/default_icon.png';this.onerror=null"/></li>
                {/volist}
            </ul>
        </div>
    </div>

    <div class="push_name">
        <ul>
            <li id="tab_t1" onclick="return Push_ChangIterm(1)"  class="thisiterm">Ta的视频({$data.record_count})</li>
            <li id="tab_t2" onclick="return Push_ChangIterm(2)"><span style="float: left">|</span>今日疯传</li>
        </ul>
    </div>
    <div class="favorable"  id="push_tab_1">
        {volist name="my_record_list" id="vo"}
        <div class="fb">
            <div class="fb-lt">
                <a href="{$vo.sharelink}"><img src="{$vo.big_pic|default='/share/images/default.jpg'}"  onerror="this.src='/share/images/default.jpg';this.onerror=null"></a>
                <div class="fb-title"><p>{$vo.title|default='欢迎来到我的直播间!'}</p></div>
            </div>
        </div>
        {/volist}
        <div class="more">
            <a href="http://apk.guaishoubobo.com/downloads/"> <img src="/share/images/bottom2.gif"></a>
        </div>
    </div>
    <div class="favorable"  id="push_tab_2">
        {volist name="all_record_list" id="vo"}
        <div class="fb">
            <div class="fb-lt">
                <a href="{$vo.sharelink}"><img src="{$vo.big_pic|default='/share/images/default.jpg'}"  onerror="this.src='/share/images/default.jpg';this.onerror=null"></a>
                <div class="fb-title"><p>{$vo.title|default='欢迎来到我的直播间!'}</p></div>
            </div>
        </div>
        {/volist}
        <div class="more">
            <a href="http://apk.guaishoubobo.com/downloads/"> <img src="/share/images/bottom3.gif"></a>
        </div>
    </div>


    <!--<div class="name">-->
    <!--<p>热门课程</p>-->
    <!--</div>-->

    <!--<div class="favorable">-->
    <!--<div class="fb">-->
    <!--<div class="fb-lt">-->
    <!--<img src="../share/images/default.jpg">-->
    <!--<div class="fb-num"><img src="../share/images/play_button.png"><p>25611人观看</p></div>-->
    <!--<div class="fb-name"><img src="../share/images/default_icon.png"><p>Iccoldmoon</p></div>-->
    <!--<div class="fb-title"><p>我的直播</p></div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
</div>
<script type="text/javascript" src="/share/js/common.js"></script>
<script type="text/javascript">
    $("video").attr("webkit-playsinline","true");
    $("video").attr("playsinline","true")
</script>
</body>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / 720) + 'px';
                };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);

    $(document).ready(function(){
        setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
            $('#player').hide();
            SewisePlayer.setup({
            {eq name='type' value='1'}{eq name='data.type' value='m3u8'}server: "live"{else/}server: "vod"{/eq}{else/}server: "vod"{/eq},
            type: "{$data.type}",
                    autostart: "false",
                    poster: "{$data.bigpic}",
                    {eq name='type' value='1'}{eq name='data.type' value='m3u8'}streamurl{else/}videourl{/eq}{else/}videourl{/eq}:"{$data.url}",
                    skin: "vodFoream",
                    title: "",
                    lang: "zh_CN",
                    buffer:1,
                    topbardisplay:'disable',
                    claritybutton: 'disable'
        }, "player");
            $('#player').show();
        }, 300);
    });


    //通过config接口注入权限验证配置
    wx.config({
        debug : false,
        appId : 'wx190ef9ba551856b0',
        timestamp : "{$timestamp}",
        nonceStr : "1234567890123",
        signature : "{$signature}",
        jsApiList : ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo']
    });
    wx.ready(function(){
        var s_title = "{$data.nickname|default='怪兽bobo'}视频分享",  // 分享标题
                s_link = "{$share_url}",  // 分享链接
                s_desc = "快来怪兽BOBO#{$data.nickname|default='怪兽bobo'}正在直播#{$data.title|default='怪兽bobo'}!好萌,好有才",
                s_imgUrl = "{$data.bigpic|default='https://test.yimwing.com/share/images/logo.jpg'}"; // 分享图标

        //朋友圈
        wx.onMenuShareTimeline({
            title: s_title, // 分享标题
            link: s_link, // 分享链接
            imgUrl: s_imgUrl, // 分享图标
            success: function () {
            },
            cancel: function () {
            }
        });
        //发送给好友
        wx.onMenuShareAppMessage({
            title: s_title, // 分享标题
            desc: s_desc, // 分享描述
            link: s_link, // 分享链接
            imgUrl: s_imgUrl, // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
            },
            cancel: function () {

            }
        });
        //QQ好友
        wx.onMenuShareQQ({
            title: s_title, // 分享标题
            desc: s_desc, // 分享描述
            link: s_link, // 分享链接
            imgUrl: s_imgUrl, // 分享图标
            success: function () {
            },
            cancel: function () {
            }
        });
        //腾讯微博
        wx.onMenuShareWeibo({
            title: s_title, // 分享标题
            desc: s_desc, // 分享描述
            link: s_link, // 分享链接
            imgUrl: s_imgUrl, // 分享图标
            success: function () {
            },
            cancel: function () {
            }
        });
    });
</script>
</html>
